[AUTH] #authentication for dashboard
username=user
password=testPassword

[NET] # binding address and port for dashboard
bind=0.0.0.0
port=5000

[Position] # send position beacon for non gps devices
lat=45.5
lon=7.5
alt=250
interval=375
enabled=False

[Reboot]
interval=3600
enabled=False

[MQTT] #mqtt server for publishing received nodes (i use it to render imeshmap.iz1kga.it)
host=mqtt.test.org
port=1883
username=MQTTuser
password=MQTTpassword
keepalive=60
enabled=False